.dikky{
  background-image:url(pizza4.png);
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
}

.largerText {
  font-size: 20px;
}

#personalPic {
  width: 8vw;
}

#mediumPic {
  width: 10vw;
}

#largePic {
  width: 12vw;
}

#xlargePic {
  width: 13vw;
}

.customizeBox {

  background-image:image(pizza4.png);
background-color: aqua;
}

#receipt {
  width: 400px;
  display: none;
  border: 1px double skyblue;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 0 auto 50px auto;
  background-color: #ddd;
background-image: url(pizza4.png);
}

.container {
  padding: 30px;
  position: relative;
  top: 100px;
background-image: url(pizza4.png);
}

.ingredients {
  color: darkblue;
  font-style: oblique;
  font-size: 85%;
}

.receiptRow {
  margin: 10px 0px;
  border-bottom: 1px dashed skyblue;
  background-image:url(pizza4.png);
}

.costs {
  position: absolute;
  right: 15px;
}

#total {
  font-weight: bolder;
  padding: 10px;
  margin-top: 30px;
  border-top: 1px dotted aqua;
  border-bottom: 1px dotted grey;
}

#orderAgain {
  margin: auto;
  display: none;
}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: darkred;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  bottom: 200px;
  background-color: #4CAF50;
}

#contact {
  bottom: 40px;
  background-color: #555
}
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  position: relative;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}